.reel-box {
  width: 100%;
  max-width: 340px;
  height: 600px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

.reel-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}
